@model FirmaService.Models.Dispozitive

@{
    ViewData["Title"] = "Create";
}

<h1>Adaugare dispozitiv</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="ClientNume">Nume Client</label>
                <input type="text" name="nume" id="ClientNume" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ClientPrenume">Prenume Client</label>
                <input type="text" name="prenume" id="ClientPrenume" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TipDispozitiv" class="control-label"></label>
                <input asp-for="TipDispozitiv" class="form-control" />
                <span asp-validation-for="TipDispozitiv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problema" class="control-label"></label>
                <input asp-for="Problema" class="form-control" />
                <span asp-validation-for="Problema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Inapoi la lista</a>
</div>

